<html 
xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" 
xmlns:formvh="http://typo3.org/ns/TYPO3/CMS/Form/ViewHelpers"
xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
data-namespace-typo3-fluid="true">
<formvh:renderRenderable renderable="{element}">
	<f:render partial="Field/Field" arguments="{element: element}" contentAs="elementContent">
		<div class="input-inner">
            <v:variable.set name="imageUid">{formvh:translateElementProperty(element: element, property: 'imageUid')}</v:variable.set>
            <v:variable.set name="ceUid">{formvh:translateElementProperty(element: element, property: 'ceUid')}</v:variable.set>
            <v:variable.set name="colUid">{formvh:translateElementProperty(element: element, property: 'colUid')}</v:variable.set>
			<v:variable.set name="dimensions" value="{width: '600', height: '450'}" />
            <v:variable.set name="width" value="{dimensions.width}c" />
            <v:variable.set name="height" value="{dimensions.height}c" />
            <v:variable.set name="dblWidth" value="{dimensions.width -> v:math.product(b: 2)}c" />
            <v:variable.set name="dblHeight" value="{dimensions.height -> v:math.product(b: 2)}c" />
            <v:variable.set name="imgSrc"><f:uri.image src="{imageUid}" width="{width}" /></v:variable.set>
            <v:variable.set name="imgSrcDbl"><f:uri.image src="{imageUid}" width="{dblWidth}" /></v:variable.set>
            
            <img id="jwfrontendusermanager-edituser-{ceUid}-editorfield_{colUid}_image" src="{imgSrc}" srcset="{imgSrc} 1x,{imgSrcDbl} 2x" />
            
            <script type="text/javascript">
                let ceUid = {ceUid};
                let colUid = {colUid};
                window.onload = function () <f:format.raw>{</f:format.raw>
                    let image = document.getElementById("jwfrontendusermanager-edituser-"+ceUid+"-editorfield_"+colUid+"_image");
                    var cropper = new Cropper(image, <f:format.raw>{</f:format.raw>
                        aspectRatio: 4/3,
                        zoomable: false,
                        scalable: false,
                        rotatable: false,
                        viewMode: 2,
                        autoCrop: false,
                        ready: function () <f:format.raw>{</f:format.raw>
                            var crop = JSON.parse(document.getElementById('jwfrontendusermanager-edituser-'+ceUid+'-editorfield_'+colUid+'_crop').value);
                            this.cropper.crop();
                            var newcrop = <f:format.raw>{</f:format.raw>
                                left: crop.default.cropArea.x * this.cropper.getCanvasData().width + this.cropper.getCanvasData().left,
                                top: crop.default.cropArea.y * this.cropper.getCanvasData().height + this.cropper.getCanvasData().top,
                                width: crop.default.cropArea.width * this.cropper.getCanvasData().width,
                                height: crop.default.cropArea.height * this.cropper.getCanvasData().height
                            };
                            this.cropper.setCropBoxData(newcrop);
                            //crop = document.getElementById('jwfrontendusermanager-edituser-'+ceUid+'-editorfield_'+colUid+'_crop').value;
                        },
                        crop: function(e) <f:format.raw>{</f:format.raw>
                                document.getElementById('jwfrontendusermanager-edituser-'+ceUid+'-editorfield_'+colUid+'_crop').value = JSON.stringify({
                                    default: <f:format.raw>{</f:format.raw>
                                        cropArea: <f:format.raw>{</f:format.raw>
                                            x: (this.cropper.getCropBoxData().left - this.cropper.getCanvasData().left) / this.cropper.getCanvasData().width,
                                            y: (this.cropper.getCropBoxData().top - this.cropper.getCanvasData().top) / this.cropper.getCanvasData().height,
                                            width: this.cropper.getCropBoxData().width / this.cropper.getCanvasData().width,
                                            height: this.cropper.getCropBoxData().height / this.cropper.getCanvasData().height
                                        },
                                        selectedRatio: '4:3',
                                        focusArea: null
                                    }
                                });
                        }
                    });
                };
            </script> 
		</div>
	</f:render>
</formvh:renderRenderable>
</html>