<html 
xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" 
xmlns:formvh="http://typo3.org/ns/TYPO3/CMS/Form/ViewHelpers"
data-namespace-typo3-fluid="true">
<formvh:renderRenderable renderable="{element}">
	<f:render partial="Field/Field" arguments="{element: element}" contentAs="elementContent">
		<div class="input-inner">
            <f:variable name="imageUid">{formvh:translateElementProperty(element: element, property: 'imageUid')}</f:variable>
            <f:variable name="ceUid">{formvh:translateElementProperty(element: element, property: 'ceUid')}</f:variable>
            <f:variable name="colUid">{formvh:translateElementProperty(element: element, property: 'colUid')}</f:variable>
			<f:variable name="dimensions" value="{width: '600', height: '450'}" />
            <f:variable name="width" value="{dimensions.width}c" />
            <f:variable name="height" value="{dimensions.height}c" />
            <f:comment>Retina (2x): fixed doubles of the dimensions above (600->1200, 450->900); core Fluid has no math ViewHelper.</f:comment>
            <f:variable name="dblWidth" value="1200c" />
            <f:variable name="dblHeight" value="900c" />
            <f:variable name="imgSrc"><f:uri.image src="{imageUid}" width="{width}" /></f:variable>
            <f:variable name="imgSrcDbl"><f:uri.image src="{imageUid}" width="{dblWidth}" /></f:variable>
            
            <img id="jwfeusermanager-edituser-{ceUid}-editorfield_{colUid}_image" src="{imgSrc}" srcset="{imgSrc} 1x,{imgSrcDbl} 2x" />
            
            <script type="text/javascript">
                let ceUid = {ceUid};
                let colUid = {colUid};
                window.onload = function () <f:format.raw>{</f:format.raw>
                    let image = document.getElementById("jwfeusermanager-edituser-"+ceUid+"-editorfield_"+colUid+"_image");
                    var cropper = new Cropper(image, <f:format.raw>{</f:format.raw>
                        aspectRatio: 4/3,
                        zoomable: false,
                        scalable: false,
                        rotatable: false,
                        viewMode: 2,
                        autoCrop: false,
                        ready: function () <f:format.raw>{</f:format.raw>
                            var crop = JSON.parse(document.getElementById('jwfeusermanager-edituser-'+ceUid+'-editorfield_'+colUid+'_crop').value);
                            this.cropper.crop();
                            var newcrop = <f:format.raw>{</f:format.raw>
                                left: crop.default.cropArea.x * this.cropper.getCanvasData().width + this.cropper.getCanvasData().left,
                                top: crop.default.cropArea.y * this.cropper.getCanvasData().height + this.cropper.getCanvasData().top,
                                width: crop.default.cropArea.width * this.cropper.getCanvasData().width,
                                height: crop.default.cropArea.height * this.cropper.getCanvasData().height
                            };
                            this.cropper.setCropBoxData(newcrop);
                            //crop = document.getElementById('jwfeusermanager-edituser-'+ceUid+'-editorfield_'+colUid+'_crop').value;
                        },
                        crop: function(e) <f:format.raw>{</f:format.raw>
                                document.getElementById('jwfeusermanager-edituser-'+ceUid+'-editorfield_'+colUid+'_crop').value = JSON.stringify({
                                    default: <f:format.raw>{</f:format.raw>
                                        cropArea: <f:format.raw>{</f:format.raw>
                                            x: (this.cropper.getCropBoxData().left - this.cropper.getCanvasData().left) / this.cropper.getCanvasData().width,
                                            y: (this.cropper.getCropBoxData().top - this.cropper.getCanvasData().top) / this.cropper.getCanvasData().height,
                                            width: this.cropper.getCropBoxData().width / this.cropper.getCanvasData().width,
                                            height: this.cropper.getCropBoxData().height / this.cropper.getCanvasData().height
                                        },
                                        selectedRatio: '4:3',
                                        focusArea: null
                                    }
                                });
                        }
                    });
                };
            </script> 
		</div>
	</f:render>
</formvh:renderRenderable>
</html>