<html
xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
xmlns:formvh="http://typo3.org/ns/TYPO3/CMS/Form/ViewHelpers"
data-namespace-typo3-fluid="true">
<formvh:renderRenderable renderable="{element}">
	<f:render partial="Field/Field" arguments="{element: element}" contentAs="elementContent">
		<div class="input-inner">
			<button type="button"
					class="jw-feuser-pwgen"
					data-field-id="{formvh:translateElementProperty(element: element, property: 'fieldId')}"
					data-length="{formvh:translateElementProperty(element: element, property: 'length')}">
				<f:translate key="LLL:EXT:jw_feuser_manager/Resources/Private/Language/locallang.xlf:edituser.generatePassword"
							 default="Erzeugen" />
			</button>
		</div>
	</f:render>
</formvh:renderRenderable>
</html>
