<html data-namespace-typo3-fluid="true"
	xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">
	
<f:variable name="dimensions" value="{width: '75', height: '100'}" />

<f:variable name="width" value="{dimensions.width}c" />
<f:variable name="height" value="{dimensions.height}c" />

<f:comment>Retina (2x): fixed doubles of the dimensions above (75->150, 100->200); core Fluid has no math ViewHelper.</f:comment>
<f:variable name="dblWidth" value="150c" />
<f:variable name="dblHeight" value="200c" />

<f:for each="{fullValue}" as="file" iteration="iterator">
	<f:if condition="{iterator.isFirst}">
		<a href="{f:uri.image(src: file.uid, treatIdAsReference: 1, width: fluidSettings.media.popup.width, height: fluidSettings.media.popup.height)}" title="{name}" data-rel="lightbox:frame" rel="lightbox">
			<img class="image-embed-item" style="max-height: {dimensions.height}px; max-width: {dimensions.width}px;" src="{f:uri.image(src: file.uid, treatIdAsReference: 1, width: width, height: height)}" alt="{file.alternative}" title="{file.title}" srcset="{f:uri.image(src: file.uid, treatIdAsReference: 1, width: width, height: height)} 1x,{f:uri.image(src: file.uid, treatIdAsReference: 1, width: dblWidth, height: dblHeight)} 2x" />
		</a>
	</f:if>
</f:for>